body {
  background: #e4f8ff;
}
.container {
  font-family: 'Lato', sans-serif;
  height: 90%;
}
.container .col-md-6 {
  padding: 0;
}
.container .header h1 {
  border-bottom: 1px solid black;
  margin-bottom: 0;
  text-align: center;
}
.container .auction-focus {
  display: block;
  text-align: center;
  height: 100%;
  border-left: 1px solid black;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid black;
}
.container .auction-focus #chart-container {
  height: 560px;
  width: 560px;
  display: none;
}
.container .auction-focus .chart-container-div {
  display: none;
  visibility: hidden;
}
.container .auction-focus .auction-container {
  position: absolute;
  visibility: hidden;
  width: 560px;
}
.container .auction-focus .auction-container .auction {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .auction-focus .auction-container .auction-info table tr,
.container .auction-focus .auction-container .auction-info table td,
.container .auction-focus .auction-container .auction-info table th {
  border: none;
}
.container .auction-focus .auction-container .auction-info table tr td:nth-child(1) {
  text-align: right;
  width: 50%;
  border-right: 1px solid black;
}
.container .auction-focus .auction-container .auction-info table tr td:nth-child(2) {
  text-align: left;
}
.container .auction-focus .auction-container .auction-info table tr:nth-child(2) td:nth-child(1) {
  border-top: 1px solid black;
}
.container .auction-focus .auction-container .auction-info table .place-new-bid-label td:nth-child(1) {
  padding-top: 13px;
}
.container .auction-focus .auction-container .auction-info table .place-new-bid-label td:nth-child(2) .input-group {
  width: 70%;
}
.container .auction-focus .auction-container .bid-information-table {
  margin-top: -20px;
}
.container .auction-focus .auction-container .bid-information-table table {
  text-align: center;
}
.container .auction-focus .auction-container .bid-information-table table tr:nth-child(1) td {
  border-top: 1px solid black;
}
.container .auction-focus .auction-container .bid-information-table table td {
  border: none;
}
.container .auction-focus .auction-container .bid-information-table table td:nth-child(1) {
  border-right: 1px solid black;
}
.container .auction-focus .auction-container .bid-information-table table td:nth-child(2) {
  border-right: 1px solid black;
}
.container .auction-focus .auction-container .bid-information-table table tr:last-child td {
  border-bottom: 1px solid black;
}
.container .auction-focus .inventory-container .header table {
  font-size: 90%;
}
.container .auction-focus .inventory-container .header table tr,
.container .auction-focus .inventory-container .header table td,
.container .auction-focus .inventory-container .header table th {
  border: none;
}
.container .auction-focus .inventory-container .header table tr td:nth-child(1) {
  text-align: right;
  width: 25%;
  border-right: 1px solid black;
}
.container .auction-focus .inventory-container .header table tr td:nth-child(2) {
  text-align: left;
  width: 55%;
}
.container .auction-focus .inventory-container .header table .new-division td:nth-child(2) {
  border-top: 1px solid black;
}
.container .auction-focus .inventory-container .header table .inventory-create td:nth-child(2) {
  padding: 0;
}
.container .auction-focus .inventory-container .inventory-item {
  margin-top: 8px;
  border-top: 2px solid black;
  width: 50%;
  height: 200px;
  float: left;
  text-align: center;
  border-right: 1px solid white;
}
.container .auction-focus .inventory-container .inventory-item table {
  margin: 0;
  color: white;
  visibility: visible;
  font-size: 115%;
  width: 100%;
  background-color: black;
}
.container .auction-focus .inventory-container .inventory-item table tr,
.container .auction-focus .inventory-container .inventory-item table td {
  margin: 0;
  padding: 0;
}
.container .auction-focus .inventory-container .inventory-item table td {
  border: none;
  text-align: center;
}
.container .auction-focus .inventory-container .inventory-item table .btns {
  margin-left: 5px;
}
.container .auction-focus .inventory-container .inventory-item table .btns:nth-child(1) {
  margin-left: 0px;
}
.container .auction-focus .inventory-container .inventory-item table tr:nth-child(1) td:nth-child(1) {
  border-bottom: 1px solid white;
}
.container .auction-focus .inventory-container .inventory-item .item-image {
  width: 100%;
  height: 90%;
}
.container .ongoing-auctions {
  height: 100%;
  border-left: 1px solid black;
  overflow: auto;
  padding: 0;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.container .ongoing-auctions .filter {
  height: 60px;
}
.container .ongoing-auctions .auction-item {
  margin-top: 8px;
  border-top: 2px solid black;
  width: 100%;
  height: 150px;
  float: left;
  text-align: center;
}
.container .ongoing-auctions .auction-item h3 {
  margin: 0;
  color: black;
  visibility: visible;
  font-size: 115%;
  width: 100%;
  background-color: black;
  color: white;
}
.container .ongoing-auctions .auction-item .item-image {
  width: 100%;
  height: 95%;
}
.container .control-panel {
  height: 100%;
  border-left: 1px solid;
  border-bottom: 1px solid black;
}
.container .control-panel .action-container {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 4em;
  text-align: center;
}
.container .control-panel .action-container table td {
  border: none;
}
.container .control-panel .action-container table td:nth-child(1) {
  text-align: right;
}
.container .control-panel .action-container table td:nth-child(2) {
  text-align: left;
}
.container .control-panel .action-container div {
  margin-bottom: 1em;
  display: block;
}
.container .control-panel .action-container input {
  text-align: center;
}
.container .control-panel .action-container .loading-div {
  visibility: hidden;
  margin-top: 2em;
}
