.container {
  div { display: inline;  }
  .header { border-bottom: 1px solid black; }

  .auction-focus { width: 35%; }
  .ongoing-auctions { width: 20%; position: fixed; right: 20%; height: 100%; border-left: 1px solid black;}

  .control-panel { position: fixed; right: 10%; height: 100%; border-left: 1px solid; padding: 5em;
    div { margin-top: 1em; display: block;}
  }
}