.container div {
  display: inline;
}
.container .header {
  border-bottom: 1px solid black;
}
.container .auction-focus {
  width: 35%;
}
.container .ongoing-auctions {
  width: 20%;
  position: fixed;
  right: 20%;
  height: 100%;
  border-left: 1px solid black;
}
.container .control-panel {
  position: fixed;
  right: 10%;
  height: 100%;
  border-left: 1px solid;
  padding: 5em;
}
.container .control-panel div {
  margin-top: 1em;
  display: block;
}
