{% extends 'base/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'auction/css/main.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <h1>Hackerati Auction</h1>
    </div>
    {% for item in items %}
        <img src="{{ item.image.url }}">
    {% endfor %}

</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'auction/js/auction.js' %}"></script>
{% endblock %}
