{% extends 'base/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'auction/css/main.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <h1>Hackerati Auction</h1>
    </div>

    <div class="auction-focus col-md-6">
        <div class="auction-container" style="visibility: visible;">
            <h1 style="margin-top: 5em;">Welcome!<h1>
            <h2>Please Enjoy Today's Auction</h2><br>
            <h2>by Lucas Brambrink</h2>

        </div>
        {% for auction in auctions %}
            <div class="auction-container" id="auction-{{ auction.id }}" data-seconds-left="{{ auction.seconds_until_expire }}">
                <div class="auction" style='background-image: url({{ auction.item.image.url }})'></div>
                <div class="auction-info">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th colspan="2" style="text-align: center;">
                                    <h3>{{ auction.item.name }}</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Asking Price</td>
                                <td>${{ auction.item.reserved_price }}</td>
                            </tr>
                            <tr>
                                <td>Current Highest Bid</td>
                                <td class="highest-bid-{{ auction.id }}">${{ auction.current_highest_bid }}</td>
                            </tr>
                            <tr>
                                <td>Time Left in Auction</td>
                                <td class='counter-cell' id="auction-counter-{{ auction.id }}" data-seconds-left="{{ auction.seconds_until_expire }}"></td>
                            </tr>
                            <tr class="place-new-bid-label">
                                <td>Place New Bid</td>
                                <td>
                                    <div class="input-group">
                                      <span class="input-group-addon">$</span>
                                      <input type="text" class="form-control bid-form bid-form-{{ auction.id }}" placeholder="bid price" name="bid-amount">
                                      <span class="bid-btn-{{ auction.id }} input-group-addon btn btn-primary bid-btn">Bid
                                      </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bid-information-table">
                    <table class="table">
                        <tbody class="current-bid-info-{{ auction.id }}">
                            {% for bid in auction.bids.all %}
                                <tr>
                                    <td>${{ bid.price }}</td>
                                    <td>{{ bid.user.username }}</td>
                                    <td>{{ bid.created_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="ongoing-auctions col-md-3">
        <div class="filter">
            <ul>
                <li>Price</li>
                <li>Category</li>
                <li>End Time</li>
            </ul>
        </div>
        {% for auction in auctions %}
            <div class="auction-item" id='auction-thumb-{{ auction.id }}'>
                <h3>{{ auction.item.name }} : ${{ auction.item.reserved_price }}</h3>
                <div class='item-image' style='background-image: url({{ auction.item.image.url }})'></div>
            </div>
        {% endfor %}
    </div>






    <div class="control-panel col-md-3">
        <div class="action-container">
            <h4>{{ user.name }}</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Balance :</td>
                        <td>${{ user.balance }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="actions btn btn-default">Post New Auction</div>
            <div class="actions btn btn-default">View Inventory</div>
            <div class="actions btn btn-default">Random Sync with CL</div>
        </div>
    </div>

    <div id="seconds-since-loaded" style="visibility: hidden"></div>

</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'auction/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'auction/js/helperFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'auction/js/ajax.js' %}"></script>

{% endblock %}
