{% extends 'base/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/transition.js/css/transition-animations-onboarding.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/transition.js/css/on_boarding.css' %}" />
{% endblock %}


{% block body %}

<div class="pt-wrapper">
    <div class="pt-trigger-container">
        <div class="pt-trigger" style="opacity: 0; visibility: hidden;" data-animation="4" data-goto="-2">
            <div class="btn btn-default">PREV</div>
        </div>
        <div class="pt-trigger" data-animation="3" data-goto="-1">
            <div class="btn btn-default">NEXT</div>
        </div>
    </div>

    {#  ON BOARDING QUESTIONAIRE  #}
    <div class="pt-page pt-page-1">
        <div class='page-content'>
            <label class="question">What is your name?</label>
            <input type="text" class='form-control' placeholder="Full Name" name="name">
        </div>
    </div>
    <div class="pt-page pt-page-2">
        <div class='page-content'>
            <label class="question">Select a username!</label>
            <input type="text" class='form-control' placeholder="Username" name="name">
        </div>
    </div>
    <div class="pt-page pt-page-3">
        <div class='page-content'>
            <label class="question">Choose a password!</label>
            <input type="text" class='form-control' placeholder="Password" name="name">
            <input type="text" class='form-control' placeholder="Confirm" name="name">
        </div>
    </div>
    <div class="pt-page pt-page-4">
        <div class='page-content'>
            <label class="question">For joining our site, you have been given
            $1000 to bid on auctions as you please!</label>
        </div>
    </div>
    <div class="pt-page pt-page-5">
        <div class='page-content'>
            <label class="question">Summary</label>
            <div class="btn btn-success">Start!</div>
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'base/transition.js/js/transitions_on_boarding.js' %}"></script>
{% endblock %}