{% extends 'base/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/transition.js/css/transition-animations-onboarding.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/transition.js/css/on_boarding.css' %}" />
{% endblock %}


{% block body %}

<div class="pt-wrapper">
    <div class="pt-trigger-container">
        <div class="pt-trigger" style="opacity: 0; visibility: hidden;" data-animation="4" data-goto="-2">
            <div class="btn btn-default">PREV</div>
        </div>
        <div class="pt-trigger" data-animation="3" data-goto="-1">
            <div class="btn btn-default">NEXT</div>
        </div>
    </div>

    {#  ON BOARDING QUESTIONAIRE  #}
    <div class="pt-page pt-page-1">
        <div class='page-content'>
            <label class="question">What is your name?</label>
            <input type="text" class='form-control' id='name-form' placeholder="Full Name" name="name">
        </div>
    </div>
    <div class="pt-page pt-page-2">
        <div class='page-content'>
            <label class="question">Select a username!</label>
            <input type="text" class='form-control' placeholder="Username" name="username">
        </div>
    </div>
    <div class="pt-page pt-page-3">
        <div class='page-content'>
            <label class="question">Choose a password!</label>
            <input type="password" class='form-control' placeholder="Password" name=password">
        </div>
    </div>
    <div class="pt-page pt-page-4">
        <div class='page-content'>
            <label class="question">For joining our site, you have been given
            $1000 to bid on auctions as you please!</label>
        </div>
    </div>
    <div class="pt-page pt-page-5">
        <div class='page-content'>
            <label class="question">Just to Summarize...</label>
            <div id="summary-table">
                <table class='table'>
                    <tbody>
                        <tr>
                            <td>Name :</td>
                            <td id="target-name">]</td>
                        </tr>
                        <tr>
                            <td>Username :</td>
                            <td id="target-username">{username}</td>
                        </tr>
                        <tr>
                            <td>Balance :</td>
                            <td>$1000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn btn-default">Let's Start!</div>
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'base/transition.js/js/transitions_on_boarding.js' %}"></script>
{% endblock %}